
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Mobile Byte Data Exploration</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    
    <!-- Vega-lite visualization libraries -->
    <script src="//d3js.org/d3.v3.min.js"></script>
  	<script src="//vega.github.io/vega/vega.js"></script>
  	<script src="//vega.github.io/vega-lite/vega-lite.js"></script>
  	<script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
    
    <style media="screen">
	    /* Add space between vega-embed links  */
	    .vega-actions a {
	      margin-right: 5px;
	    }
	  </style>
  </head>

  <body role="document">

        <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About This Data Set</a></li>
            <li><a href="/quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Mobile Byte</h1>
        <p>This is the Mobile Byte of the Data Pipeline class.</p>
      </div>

   <h2>Query Results</h2>
   <ul>
   {% for item in queries %}
   <li>Query: {{item.query}}<br>
       {% for row in item.results %}
          {{row}}<br>
       {% endfor %}
   </li>
   {% endfor %}
   </ul>
   
   <h2>Vega-lite Chart</h2>
   
   <!-- Example of Vega-lite graph -->
   <div id="vis"></div>
   <!-- Vega-lite graphing code. -->
   <script>
	  // Assign the specification to a local variable vlSpec.
	  var vlSpec = {
	    "data": {
	      "values": [
			{% for row in queries[0].results %}
          		{"date": "{{row[0]}}", "count": {{row[1]}}},
       		{% endfor %}
	      ]
	    },
	    "mark": "bar",
	    "encoding": {
	      "x": {
	      	"field": "date", "type": "nominal",
		    "axis": {
		        "title": "Date"
		     }},
	      "y": {
	        "field": "count", "type": "quantitative",
	        "axis": {
	          "title": "Record Count"
	        }
	      }
	    }
	  };
	
	  var embedSpec = {
	    mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
	    spec: vlSpec
	    // You can add more vega-embed configuration properties here.
	    // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
	  };
	
	  // Embed the visualization in the container with id `vis`
	  vg.embed("#vis", embedSpec, function(error, result) {
	    // Callback receiving the View instance and parsed Vega spec
	    // result.view is the View, which resides under the '#vis' element
	  });
  </script>

   <div class="page-header">
		<p> The Vega-lite chart pulls directly from the SQL database and shows the amount of records on each day. There is some 
		problem with the time zones, because the days and hours do not match the data below, even though all queries were set to 
		EST. 
		<br> <br>
		AWARE collected location data for the time period of 1/26/17 to 2/13/17. Fortunately or unfortunately, 
		I’m a grad student and don’t get out much. With a little help from Google maps, I was able to roughly categorize 
		my activities over the past few weeks. The chart below shows the breakdown of my time by the number of records collected 
		while participating in each activity. A calculation of how much time in terms of hours would be the next step.
		<br> <br>
		<img src="images/counts.JPG" alt="counts"style="width:1000px;height:500px;">
		<br> <br>
		The table below shows the breakdown of the activities I participated in as a percentage.
		<br> <br>
		<img src="images/table.jpg" alt="table"style="width:100px;height:500px;">
		<br> <br>
		</p>
	
		<p>Almost every day, I spend a large amount of time at CMU, or en route between home and CMU. 2/12/17 I spent the day 
		at home…though CMU was not far from my mind as I was doing homework all day. I do manage to spend quite a bit of time 
		with friends, though admittedly much of it is in group study sessions. Though the pink and purple bars on 1/28, 1/29 and 
		2/09 show that I did go out with friends rather than spend time at a friend’s house. 
		<br> <br>
		<img src="images/activity_type.png" alt="activity_type"style="width:1000px;height:500px;">
		</p>
		
		
    </div> <!-- /page-header -->
   </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
