<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About This Data Set</a></li>
            <li class="active"><a href="/quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>Write a brief summary about the quality of the data set here</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The data appears to be relatively complete. The study was never interrupted and none of the data appears to have been deleted.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>Locations: The dates and times are slightly off. This is likely due to issues converting from UNIX 
	time to a human readable timestamp. This does manifest itself in the visualizations. Changes in the timestamp will alter on 
	which day certain activities took place. Additionally, there is an error in the categoriztion and "Out with friends" appears 
	as a seperate category than "Out with Friends". These are the same thing and should be together.
	<br>
	Screen: The screen data is less coherent. Distinguishing between the different types of phone usage is not straight forward.
</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>Due to the timestamp issue, the location data may not be exactly correct. 
	Additionally, the screen data appears to have anomalies as well. For example, the phone being simultaneously 
	locked and unlocked at the same time and date. This must be some collection error and is one of the reasons I 
	chose not to evaluate the screen data here.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
